.sidenav-container {
  height: 100%;
}

.mat-drawer-side {
  border: none;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.material-toolbar {
  position: fixed;
  top: 0;
  z-index: 1 !important;
}

.logo {
  cursor: pointer;
  user-select: none;

  &:focus {
    outline: none;
  }
}

.fill-space {
  flex: 1 1 auto;
}

.menu-icon {
  margin-right: 15px;
}

.avatar {
  width: 1.75em;
  border-radius: 50%;
  margin: 5px 8px 5px 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}
