<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [autoFocus]="false"
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/">🏠 Home</a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/kanban"
        >📚 Kanban
      </a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/customers"
        >⚡ SSR
      </a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/login"
        >🔑 Signup or Login</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z8 material-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        onclick="this.blur()"
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="logo" routerLink="/">🔥 Atlas Firestarter</span>

      <span class="fill-space"></span>

      <div *ngIf="!(isHandset$ | async)">
        <button mat-button routerLink="/kanban">📚 Kanban</button>
        <button mat-button routerLink="/customers">⚡ SSR</button>
        <button mat-button routerLink="/login">🔑 Signup or Login</button>
      </div>

      <button class="menu-icon" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/about">About Us</button>
        <button mat-menu-item routerLink="/contact">Contact Us</button>
      </mat-menu>
    </mat-toolbar>

    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
