.container {
  padding: 30px 0;

  .login-button,
  .logout-button {
    display: block;
    margin: auto;
    margin-top: 2rem;
  }

  .login-page {
    .heading {
      text-align: center;
      font-weight: bold;
      font-size: 30px;
    }

    .logo {
      width: 26px;
      height: 26px;
      margin-top: -3px;
      margin-right: 5px;
    }

    .or {
      text-align: center;
      font-weight: bold;
      margin: 25px 0;
    }
  }

  .logged-in-page {
    margin-top: 5rem;

    .logged-in-user {
      font-size: 22px;
      text-align: center;
    }
  }

  @media screen and (max-width: 768px) {
    .col-sm-0 {
      display: none;
    }
  }
}
