<h1 class="heading">Server-Side Rendered About Pages</h1>

<mat-nav-list role="list">
  <h3 class="subheader">
    This is a list of all customers who generated their about pages with the
    help of our platform's SSR feature.
  </h3>

  <button
    mat-raised-button
    color="accent"
    class="create-bio-btn"
    (click)="openDialog()"
  >
    <mat-icon class="icon">web</mat-icon>
    Create Your Own
  </button>

  <cdk-virtual-scroll-viewport
    *ngIf="customers; else loading"
    itemSize="20"
    class="cdk-viewport"
  >
    <mat-list-item
      *cdkVirtualFor="let customer of customers"
      [routerLink]="customer.id"
      role="listitem"
    >
      <mat-icon mat-list-icon>account_box</mat-icon>
      <h3>{{ customer.name }}</h3>
    </mat-list-item>
  </cdk-virtual-scroll-viewport>

  <ng-template #loading>
    <mat-progress-spinner class="spinner" mode="indeterminate" color="primary">
    </mat-progress-spinner>
  </ng-template>
</mat-nav-list>
