.card {
  text-align: center;

  .heading {
    font-size: 20px;
    font-weight: bold;
  }

  .type-btn {
    margin: 7px 0 30px;
  }

  .back-icon {
    margin-top: -2px;
    margin-left: -2px;
  }

  .mat-form-field {
    width: 70%;
    margin-bottom: 5px;
  }

  .mat-error {
    font-size: 14px;
    color: #f85959;
    font-weight: 600;
  }

  .mat-error:focus {
    border-color: #f85959;
  }

  .server-error {
    color: #f85959;
  }

  .btn-forgot-password {
    display: block;
    margin: 10px auto 0;
  }

  @media screen and (max-width: 768px) {
    .mat-form-field {
      margin-bottom: 10px;
    }

    .mat-error {
      font-size: 12px;
    }
  }
}
