<div class="main-wrapper text-center">
  <div class="cover-container col">
    <header class="masthead mb-auto">
      <div class="inner">
        <h2>Atlas Orion</h2>
      </div>
    </header>

    <div class="inner cover">
      <h3 class="heading">
        Atlas Orion is an two-in-one platform which showcases two major
        features. One is
        <i>Atlas-Kanban</i> which keeps track of all your tasks separated by
        boards. The other is <i>Atlas-SSR</i> which generates a server-side
        rendered about page for you. <br />
        <br />

        Developed and maintained by
        <a href="https://atlas.shubhranil.com" target="_blank"
          ><strong>Atlas Inc.</strong>
        </a>
      </h3>
      <div class="action-btn">
        <button
          color="primary"
          routerLink="/kanban"
          mat-raised-button
          class="btn-kanban"
        >
          Go to Atlas-Kanban
        </button>

        <button
          color="accent"
          routerLink="/customers"
          mat-stroked-button
          class="btn-ssr"
        >
          Try the SSR Feature
        </button>
      </div>
    </div>
  </div>

  <div class="row wiki">
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <h2>Why the name "Orion"?</h2>

      <h3>
        Orion is a prominent constellation located on the celestial equator and
        visible throughout the world. It is one of the most conspicuous and
        recognizable constellations in the night sky. It is named after Orion, a
        hunter in Greek mythology. Its brightest stars are blue-white
        <a href="https://en.wikipedia.org/wiki/Rigel" target="_blank"
          ><strong>Rigel</strong></a
        >
        (Beta Orionis), which signifies the <i>Atlas-Kanban</i> feature and red
        <a href="https://en.wikipedia.org/wiki/Betelgeuse" target="_blank"
          ><strong>Betelgeuse</strong></a
        >
        (Alpha Orionis), which signifies the
        <i>Atlas-SSR</i> feature.
      </h3>
    </div>

    <div class="col-md-2"></div>
  </div>
</div>
