<mat-card class="outer-card">
  <mat-card-header>
    <!-- Slot for the drag handle -->
    <ng-content></ng-content>

    <mat-card-title class="board-title">
      {{ board.title }}
    </mat-card-title>

    <mat-card-subtitle>
      {{ board.createdAt | date: "short" }}
    </mat-card-subtitle>
  </mat-card-header>

  <div
    class="tasks"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="taskDragAndDrop($event)"
  >
    <div
      class="inner-card"
      cdkDrag
      *ngFor="let task of board.tasks; let i = index"
      (click)="openTaskDialog(task, i)"
    >
      <mat-card [ngClass]="task.label">
        {{ task.description }}
      </mat-card>
    </div>

    <button
      class="action-button"
      onclick="this.blur()"
      mat-stroked-button
      (click)="openTaskDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-card>
