<mat-card class="outer-card mat-elevation-z12">
  <mat-card-header>
    <!-- Slot for the drag handle -->
    <ng-content></ng-content>

    <mat-card-title class="board-title">
      {{ board.title }}
    </mat-card-title>

    <mat-card-subtitle>
      {{ board.createdAt | date: "short" }}
    </mat-card-subtitle>
  </mat-card-header>

  <div
    class="tasks"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="taskDragAndDrop($event)"
  >
    <div
      class="inner-card"
      cdkDrag
      *ngFor="let task of board.tasks; let i = index"
      (click)="openTaskDialog(task, i)"
    >
      <mat-card [ngClass]="task.label">
        {{ task.description }}
      </mat-card>
    </div>

    <div class="action-buttons">
      <button onclick="this.blur()" mat-button (click)="openTaskDialog()">
        <mat-icon class="add-icon">add_circle</mat-icon>
        New
      </button>

      <app-delete-button (delete)="handleDeleteEvent()"></app-delete-button>
    </div>
  </div>
</mat-card>
