<mat-card class="outer-card">
  <mat-card-header>
    <!-- Slot for the drag handle -->
    <ng-content></ng-content>

    <mat-card-title>
      {{ board.title }}
    </mat-card-title>

    <mat-card-subtitle>
      {{ board.id }}
    </mat-card-subtitle>
  </mat-card-header>

  <div
    class="tasks"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="taskDragAndDrop($event)"
  >
    <div
      class="inner-card"
      cdkDrag
      *ngFor="let task of board.tasks; let i = index"
    >
      <mat-card [ngClass]="task.label">
        {{ task.description }}
      </mat-card>
    </div>
  </div>
</mat-card>
